@import "../../config/config";

.#{$prefix}-bottom-operations {
	background: #f5f6f6;
	height: 50px;
	line-height: 50px;
	text-align: center;
	position: fixed;
	bottom: 0;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	width: 100%;
	margin-left: -190px;
	padding-left: 190px;

	.bottom-operation {
		display: inline-block;
		margin-right: 10px;
		&:last-of-type {
			margin-right: 0;
		}

		button {
			height: 35px;
			width: 90px;
		}
	}
}