@import "../../config/_config";

.#{$prefix}-breadcrumb {
	height: $breadcrumbHeight;
	line-height: $breadcrumbHeight;
	background-color: $breadcrumbBackgroundColor;
	color: $breadcrumbColor;
	margin-left: $leftMenuWidth;
	padding: 0 12 * $onePx;
	border-bottom: 1px solid #dee1e3;
	font-size: $linkFontSize;
	a, a:link, a:visited {
		color: $breadcrumbColor;
	}

	a:hover {
		color: $linkColor;
		font-weight: bold;
	}
}