@import "../../config/_config";

.#{$prefix}-container {
	min-width: 1160px;
}

.#{$prefix}-page {
	padding: 20px 30px 20px 30 * $onePx + $leftMenuWidth;
}

.#{$prefix}-form-title {
	font-weight: 600;
	margin: 10 * $onePx 0 30 * $onePx 10 * $onePx;
	font-size: 12px;
}