@import "../../config/_config";

label {
	display: inline-block;
	max-width: 100%; // Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)
	margin-bottom: 5px;
	font-weight: bold;
}

.#{$prefix}-inline-label {
	margin-right: 10 * $onePx;
	&:last-of-type {
		margin-right: 0;
	}
	font-weight: normal;
}